.App {
  text-align: center;
  background-image: url('./img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 90% -25%;
}
#testimonials {
  background-image: url('./img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: -60% 975%;
}
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all .25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-btm {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all .5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-btm {
  transform: translateY(14px);
}
/* .open {
  transform: rotate(90deg) translateY(0px);
} */
.open .hamburger-middle {
  display: none;
}
.open .hamburger-top {
  transform: translateY(7px) rotate(45deg);

}
.open .hamburger-btm {
  transform: translateY(7px) rotate(-45deg);
}
.menu {
  transition: ease-in all 3s;
}

@media (max-width:576px) {
  .App {
    background-position: 50px -50px;
    background-size: 500px;
  }
  #testimonials {
  background-position: 90px 35%;
  background-size: 500px;

  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
